<div class="navbar">
  <img src="/assets/images/logo.jpg" alt="Beto Tattoo Ink" class="navbar-logo" routerLink="/Home">
  <div class="hamburger-nav" (click)="toggle()">
    <img src="/assets/images/hamburger-nav.png" alt="mobile nav">
    <div class="mobile-nav" *ngIf="show">
      <ul>
        <a [routerLink]="['/Home']" [routerLinkActive]="['active']"> <li>Home</li> </a>
        <a [routerLink]="['/Gallery']" [routerLinkActive]="['active']"> <li>Gallery</li> </a>
        <a [routerLink]="['/Awards']" [routerLinkActive]="['active']"> <li>Awards</li> </a>
        <a [routerLink]="['/Contact']" [routerLinkActive]="['active']"> <li>Contact</li> </a>
      </ul>
    </div>
  </div>
  <div class="navbar-nav">
    <ul>
      <a [routerLink]="['/Home']" [routerLinkActive]="['active']"> <li>Home</li> </a>
      <a [routerLink]="['/Gallery']" [routerLinkActive]="['active']"> <li>Gallery</li> </a>
      <a [routerLink]="['/Awards']" [routerLinkActive]="['active']"> <li>Awards</li> </a>
      <a [routerLink]="['/Contact']" [routerLinkActive]="['active']"> <li>Contact</li> </a>
    </ul>
  </div>
</div>
<div class="page">
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <p>&copy; Beto Tattoo Ink, 2019</p>
</div>
